@page "/MyContracts"
@inherits ContractManagement.UI.ProtectedPageBase
@inject ContractManagement.UI.Services.AuthService AuthService
@inject HttpClient Http
@inject NavigationManager Nav
@rendermode InteractiveServer

@if (myContracts.Count == 0)
{
    <span>You don't have any contracts yet</span>
}
else
{

    <MudBlazor.MudTable Items="@myContracts" Hover="true" Class="mud-table-bordered">
    <HeaderContent>
        <MudBlazor.MudTh>Id</MudBlazor.MudTh>
        <MudBlazor.MudTh>CompanyId</MudBlazor.MudTh>
        <MudBlazor.MudTh>Position</MudBlazor.MudTh>
        <MudBlazor.MudTh>Description</MudBlazor.MudTh>
        <MudBlazor.MudTh>Start Date</MudBlazor.MudTh>
        <MudBlazor.MudTh>End Date</MudBlazor.MudTh>
        <MudBlazor.MudTh>Edit</MudBlazor.MudTh>
        <MudBlazor.MudTh>Wage</MudBlazor.MudTh>

    </HeaderContent>
    <RowTemplate>
        <MudBlazor.MudTd>@context.Id</MudBlazor.MudTd>
        <MudBlazor.MudTd>@context.CompanyId</MudBlazor.MudTd>
        <MudBlazor.MudTd>@context.Position</MudBlazor.MudTd>
        <MudBlazor.MudTd>@context.Description</MudBlazor.MudTd>
        <MudBlazor.MudTd>@context.StartDate</MudBlazor.MudTd>
        <MudBlazor.MudTd>@context.EndDate</MudBlazor.MudTd>
            <MudBlazor.MudTd>
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary"
                               OnClick="@(() => EditContract(context.Id))" />
            </MudBlazor.MudTd>
        <MudBlazor.MudTd>@context.Wage.ToString("F2")</MudBlazor.MudTd>
    </RowTemplate>
</MudBlazor.MudTable>
}


@code {
    private List<ContractManagement.Model.Models.Contracts> myContracts = new();
    private bool firstRender = true;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        firstRender = false;
        // Get JWT token
        var jwt = await AuthService.GetTokenAsync();
        if (string.IsNullOrEmpty(jwt))
        {
            Nav.NavigateTo("/", forceLoad: true);
            return;
        }

        var id = await AuthService.GetAdminIdFromJwtAsync();
        // Add Authorization header
        Http.DefaultRequestHeaders.Authorization =
            new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", jwt);

        // Get user's company
        var contracts = await Http.GetFromJsonAsync<List<ContractManagement.Model.Models.Contracts>>($"/api/users/contracts/{id}");
        if (contracts == null || contracts.Count == 0)
        {
            return;
        }

        myContracts = contracts;
        StateHasChanged();
    }
    private void EditContract(int id)
    {
        Nav.NavigateTo($"/editcontract/{id}");
    }
}
